{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/transform-runtime",
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ]
}
